{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">A persuasive blog post app that ont only gets the conversation started, but it also creates an appetite for your ideas and products, without you coming across like a sleazy.</p>
            <p><small class="text-muted">This app is developed by <a href="https://twitter.com/BonifaseOrwa?lang=en">Bonifase</a></small></p>
          </div>
        </article>
{% endblock content %}