{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">A persuasive blog post app that not only gets the conversation started, but it also creates an appetite for your ideas and products, without you coming across like a sleazy.</p>
            <p><small class="text-muted">This app is developed by <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="bonifase-orwa-752245122"><a class="LI-simple-link" id="whitens"  href='https://ke.linkedin.com/in/bonifase-orwa-752245122?trk=profile-badge'>Bonifase Orwa</a></div></small></p>
          </div>
        </article>
{% endblock content %}