{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
            
            <div class="media">
                <img class="rounded-circle account-img"
                src="{{ url_for(
                    'static', filename='profile_pics/' + user.image_file) }}" alt={{ user.username }}>
                <div class="media-body">
                <h6 class="account-heading">{{ user.username }}</h6>
                <h6>Posts Published:</h6>
                {% for post in user.posts %}
                <ul>
                    <li>
                        <a class="post-link" href="{{ url_for('post', post_id=post.id) }}"> {{ post.title }}</a>
                    </li>
                </ul>
                
                {% endfor %}
                </div>
            
        </article>
{% endblock content %}